import unittest
import xmlrunner
import pandas as pd

from scipy.io.arff import loadarff
from sklearn.preprocessing import LabelEncoder
<<<IMPORTCLASSIFIER>>>

class <<<CLASSNAME>>>(unittest.TestCase):

<<<METHODS>>>

if __name__ == '__main__':
    with open('results.xml', 'wb') as output:
        unittest.main(
            testRunner=xmlrunner.XMLTestRunner(output=output),
            failfast=False, buffer=False, catchbreak=False)