start_time = time.time_ns()
            passed = True
            exception_type = None
            exception_message = None
            exception_stacktrace = None
            try:
<<<MYSQLINDENT>>><<<MYSQLINDENT>>><<<MYSQLINDENT>>>