boolean passed = true;
            String message = null;
            String exception = null;
            String stacktrace = null;
            try {
<<<MYSQLINDENT>>><<<MYSQLINDENT>>><<<MYSQLINDENT>>>