evalMorphTestSQL(nameWithoutParams, iter, deviationsCounts, deviationsScores, data.size(), expectedMorphDistributions, morphedDistributions, expectedClustersMap, morphedClustersMap, deviationVector);
            //